<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ isEdit ? 'Edit File' : 'Upload File' }}
    </mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Filename</mat-label>
          <input matInput formControlName="name" [readonly]="this.isEdit"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Extension</mat-label>
          <input matInput formControlName="extension" readonly/>
        </mat-form-field>

        <!-- Material-style file picker -->
        @if (isEdit) {
          <span class="full-width warning-message">
            You can only update the file from the file input.
          </span>
        }
        <div class="file-picker full-width">
          <input
            type="file"
            #fileInput
            hidden
            (change)="onFileSelected($event)"
          />

          <button
            mat-stroked-button
            type="button"
            (click)="fileInput.click()"
          >
            <mat-icon>attach_file</mat-icon>
            Choose file
          </button>

          <span class="file-name">
            {{ selectedFileName || 'No file selected' }}
          </span>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Size (bytes)</mat-label>
          <input matInput formControlName="size" readonly/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>File URL</mat-label>
          <input matInput formControlName="url" readonly/>
        </mat-form-field>

      </div>

      <mat-card-actions align="end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" type="submit">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
