.mat-drawer-container {
  width: 400px;
  height: 686px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer-sidenav {
  padding: 20px;
}

.menu {
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

