.mat-drawer-container {
  height: 42.875rem;
  transition: width 160ms;
}

.box1{
  width: 4rem;
}

.mat-drawer-container, .mat-drawer-sidenav{
  width: 4rem;
}

.mat-drawer-container.mat-drawer-container-has-open, .mat-drawer-container-has-open > .mat-drawer-sidenav{
  width: 24rem;
}


.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer-sidenav {
  padding: 1.25rem;
}

.menu {
  padding-top: 13.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
