.sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0.375rem 0 0.375rem 0;
}

mat-button-toggle mat-icon {
  font-size: 1rem;
  margin-left: 0.25rem;
}f
