<form [formGroup]="shareForm" (ngSubmit)="onSubmit()">
  <mat-card-content class="file-card-content">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Enter username..."
        type="text"
        formControlName="username"
      />

      <mat-error *ngIf="usernameCtrl.hasError('required')">
        Username is required
      </mat-error>

      <mat-error *ngIf="usernameCtrl.hasError('userNotFound')">
        User not found
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="shareForm.invalid">
        Share
      </button>

      <button mat-button type="button" (click)="closeFile()">
        Cancel
      </button>
    </div>

  </mat-card-content>
</form>
