<mat-card class="file-full-preview">

  <mat-card-header class="file-card-header">
    <mat-card-title><strong>Share</strong> {{ item.name }}.{{ item.extension }}</mat-card-title>
    <button mat-icon-button aria-label="Close" (click)="closeFile()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <form [formGroup]="shareForm" (ngSubmit)="onSubmit()">
    <mat-card-content class="file-card-content">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter username..."
          type="text"
          formControlName="username"
        />

        @if(usernameCtrl.hasError('required')) {
        <mat-error>
          Username is required
        </mat-error>
        }

        @if(usernameCtrl.hasError('userNotFound')) {
        <mat-error>
          User not found
        </mat-error>
        }
      </mat-form-field>

      <div class="actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="shareForm.invalid">
          Share
        </button>

        <button mat-button type="button" (click)="closeFile()">
          Cancel
        </button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
