.text-area-container {
  width: 100%;
  padding-top: 0.75rem;
  height: 13.125rem;
  max-height: 13.125rem;
  overflow-y: auto;
}

.file-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.file-card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
