.file-full-preview {
  width: 37.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.file-content textarea[matInput] {
  min-height: 12.5rem;
  resize: vertical;
  font-family: monospace;
  white-space: pre-wrap;
}

.file-url a {
  text-decoration: none;
  font-weight: 500;
}

.file-url a:hover {
  text-decoration: underline;
}
