<app-toolbar></app-toolbar>
<mat-divider></mat-divider>

<app-sorting-nav-bar></app-sorting-nav-bar>
<mat-divider></mat-divider>
<div class="app-container">
  <app-side-navigation-bar class="side-nav"></app-side-navigation-bar>
  <mat-divider vertical></mat-divider>
  <div class="main-view">
    <app-main-content class="main-view-files"></app-main-content>
    <mat-divider></mat-divider>
    <div class="main-view-content">
      <app-file-preview class="main-view-info"></app-file-preview>
      <app-external-links-panel class="main-view-external-links"></app-external-links-panel>
    </div>
  </div>
</div>
