<app-toolbar></app-toolbar>
<mat-divider></mat-divider>

<app-navigation-bar></app-navigation-bar>
<div class="app-container">
  <app-side-navigation-bar class="box1"></app-side-navigation-bar>
  <mat-divider vertical></mat-divider>
  <div class="box2">
    <app-main-content class="box2-files"></app-main-content>
    <mat-divider></mat-divider>
    <div class="box2-content">
      <app-information-card class="box2-info"></app-information-card>
      <app-external-links-panel class="box2-ext-links"></app-external-links-panel>
    </div>
  </div>
</div>

<!--
app-container contains the content of the page
box1 is a side nav. So, box1 and box 2 should be same line divided by mat-divider component
box2-files and box2-content should goes different lines but in the box2
box2-info and box2-ext-links should be on the same line in box2-content

other components stay unchanged
-->
