<app-toolbar></app-toolbar>
<mat-divider></mat-divider>

<app-sorting-nav-bar></app-sorting-nav-bar>
<mat-divider></mat-divider>
<div class="app-container">
  <app-side-navigation-bar class="box1"></app-side-navigation-bar>
  <mat-divider vertical></mat-divider>
  <div class="box2">
    <app-main-content class="box2-files"></app-main-content>
    <mat-divider></mat-divider>
    <div class="box2-content">
      <app-file-preview class="box2-info"></app-file-preview>
      <app-external-links-panel class="box2-ext-links"></app-external-links-panel>
    </div>
  </div>
</div>
