.app-container {
  display: flex;
  height: 42.875rem;
}

.side-nav {
  height: 100%;
  text-align: center;
}

.main-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-view-files {
  height: 70%;
  overflow-y: auto;
}

.main-view > mat-divider {
  margin: 0;
}

.main-view-content {
  display: flex;
  height: 30%;
}

.main-view-info {
  width: 70%;
  margin-right: 0.5rem;
}

.main-view-external-links {
  width: 30%;
  margin-left: 0.5rem;
}
