.app-container {
  display: flex;
  height: 686px;
}

.box1 {
  height: 100%;
  text-align: center;
}

.box2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box2-files {
  height: 70%;
  overflow-y: auto;
}

.box2 > mat-divider {
  margin: 0;
}

.box2-content {
  display: flex;
  height: 30%;
}

.box2-info {
  flex: 1;
  margin-right: 8px;
}

.box2-ext-links {
  flex: 1;
  margin-left: 8px;
}
