@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
));

.theme {
  @include mat.all-component-themes($theme);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}

.multiline-tooltip {
  white-space: pre-line !important;
  max-width: 15.625rem !important;
}
