.auth-card-with-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  text-align: center;
}

.profile-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.auth-card {
  max-width: 25rem;
  padding: 1.875rem 1.5rem;
  border-radius: 0.75rem;
  width: 100%;
  box-sizing: border-box;
}

mat-card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

button.full-width {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.form-error {
  color: red;
}
